<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>센터결과보기</title>
<style>
	#area { width: 751px; height: 2011px;}
	#top { width: 751px; height: 140px; background-color: #ffffff; display: table;}
	#img1 {width: 254px;height: 79px;position: absolute; left: 27px; top: 30px;}
	#menu { width: 54px; height: 44px; position: absolute; left: 676px; top: 47px;}
	#main {width: 751px; height : 1371px; background-color: #edfaf8;}
	#result{width: 751px;height: 1139px;box-shadow: inset 0 10px 10px -10px rgba(115, 155, 210, 0.45);background-color: #ffffff;position: absolute; top: 367px;}
	.center{width: 670px;height: 308px; border: none; border-top: 4px solid #3c3c3c; border-bottom: 2px solid #cccccc; position: absolute;}
	.name{width: 670px;height: 120px;background-color: #e6e6e6;position: absolute; font-family: 'Noto Sans CJK KR';font-stretch: normal;font-style: normal;line-height: 1.4;letter-spacing: -1.8px;text-align: left;}
	.treatment{width: 670px;height: 124px;background-color: #ffffff;font-family: 'Noto Sans CJK KR';font-size: 22px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.27;letter-spacing: -1.32px;text-align: center;color: #666666;position: absolute;}
	.rate{width: 670px;height: 64px;background-color: #f2f2f2;position: absolute;}
	#footer{
    width : 751px;
    height: 500px;
    background-color: #ffffff;
    position: absolute;
	top : 1511px;
	}
</style>
</head>

<body id="area">
	<div id = "top"><!--top 화면-->
		<a href = "메인.html"><img src = "image/로고.png" id = "img1"></a>
		<a href = "메뉴.html"><img src = "image/icn_menu.png" id = "menu"></a>
	</div>
	
	<div id = "main"> 
		<div><!--회색박스-->	
			<label style = "font-family: 'Noto Sans CJK KR';font-size: 50px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 0.76;letter-spacing: -3px;text-align: left;color: #000000;position: absolute; left: 40px; top: 204px;">센터 결과보기</label>
			
			<label style = "font-family: 'Noto Sans CJK KR';font-size: 28.5px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.49;letter-spacing: -1.71px;text-align: left;color: #000000; position: absolute; left: 42px; top: 290px;">“ <font style = "font-weight: bold; color:#00bfbf;">서울시 전체</font> ”  “ <font style = "font-weight: bold; color:#00bfbf;">언어치료</font> ”  검색한 결과입니다.</label>
		</div>
		
		<div id = "result">
			<label style = "font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 900;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.44px;text-align: left;color: #000000;position: absolute; left: 40px; top: 23px;">총 <font style = "color: #00bfbf;">3</font> 개</label>
			<div class = "center" style = "left: 40px; top: 69px;"><!--아이플러스 서울언어치료센터 -->
				<div class = "name">
					<label style = "font-size:30px; font-weight: bold;color: #000000;position:  absolute; left: 31px; top: 25px;">아이플러스 서울언어치료센터</label>
					<label style = "font-size:24px; font-weight: normal;color: #999999;position:  absolute; left: 31px; top: 71px;">서울특별시 관악구 난곡로 110 (난향동664)</label>
					<img src = "image/즐겨찾기.png" style = "width: 52px;height: 78px; position:  absolute; left: 591px;">
				</div>
				<div class = "treatment" style = "top: 118px;" >
					<span style = "position:absolute; left: 33px; top: 24px;">언어</span>
					<span style = "position:absolute; left: 105px; top: 24px;color:#cccccc;">놀이</span>
					<span style = "position:absolute; left: 178px; top: 24px;">심리</span>
					<span style = "position:absolute; left: 251px; top: 24px;">학습</span>
					<span style = "position:absolute; left: 325px; top: 24px;">인지</span>
					<span style = "position:absolute; left: 398px; top: 24px;">그룹</span>
					<span style = "position:absolute; left: 472px; top: 24px;color:#cccccc;">감각통합</span>
					<span style = "position:absolute; left: 584px; top: 24px;color:#cccccc;">사회성</span>
					<span style = "position:absolute; left: 33px; top: 77px;color:#cccccc;">발달재활서비스</span>
					<span style = "position:absolute; left: 200px; top: 77px;color:#cccccc;">지역사회서비스</span>
					<span style = "position:absolute; left: 385px; top: 77px;color:#cccccc;">교육청지원</span>
				</div>
				<div class = "rate" style = "top: 242px;">
					<div>
						<img src = "image/별점_pu.png" style = "position:absolute; left: 34px; top: 22px;" >
						<img src = "image/별점_pu.png" style = "position:absolute; left: 60px; top: 22px;">
						<img src = "image/별점_pu.png" style = "position:absolute; left: 89px; top: 22px;">
						<img src = "image/별점_pu.png" style = "position:absolute; left: 118px; top: 22px;">
						<img src = "image/별점.png" style = "position:absolute; left: 147px; top: 22px;">
					</div>
					<label style = "font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.68px;text-align: left;color: #00bfbf; position:absolute; left: 186px; top: 13px;">4.0</label>
					<img src = "image/엘리베이터.png" style = "width: 38px;height: 37px; position:absolute; left: 499px; top: 14px;">
					<img src = "image/주차.png" style = "width: 38px;height: 37px; position:absolute; left: 551px; top: 14px;">
					<img src = "image/카페.png" style = "width: 38px;height: 37px; position:absolute; left: 602px; top: 14px;">
				</div>
			</div><!--end 아이플러스 서울언어치료센터 -->
			
			<div class = "center" style = "left: 40px; top:411px;"><!--신림종합사회복지관 다솜아동발달지원센터  -->
				<div class = "name">
					<a href = "기관검색_상세.html"><label style = "font-size:30px; font-weight: bold;color: #000000;position:  absolute; left: 31px; top: 25px;">신림종합사회복지관 다솜아동발달지원센터</label></a>
					<label style = "font-size:24px; font-weight: normal;color: #999999;position:  absolute; left: 31px; top: 71px;">서울 관악구 난곡로 110</label>
					<img src = "image/즐겨찾기_pu.png" style = "width: 52px;height: 78px; position:  absolute; left: 591px;">
				</div>
				<div class = "treatment" style = "top: 118px;" >
					<span style = "position:absolute; left: 33px; top: 24px;">언어</span>
					<span style = "position:absolute; left: 105px; top: 24px;color:#cccccc;">놀이</span>
					<span style = "position:absolute; left: 178px; top: 24px;">심리</span>
					<span style = "position:absolute; left: 251px; top: 24px;color:#cccccc;">학습</span>
					<span style = "position:absolute; left: 325px; top: 24px;">인지</span>
					<span style = "position:absolute; left: 398px; top: 24px;">그룹</span>
					<span style = "position:absolute; left: 472px; top: 24px;color:#cccccc;">감각통합</span>
					<span style = "position:absolute; left: 584px; top: 24px;color:#cccccc;">사회성</span>
					<span style = "position:absolute; left: 33px; top: 77px;color:">발달재활서비스</span>
					<span style = "position:absolute; left: 200px; top: 77px;color:">지역사회서비스</span>
					<span style = "position:absolute; left: 385px; top: 77px;color:color:#cccccc;">교육청지원</span>
				</div>
				<div class = "rate" style = "top: 242px;">
					<div>
						<img src = "image/별점_pu.png" style = "position:absolute; left: 34px; top: 22px;" >
						<img src = "image/별점_pu.png" style = "position:absolute; left: 60px; top: 22px;">
						<img src = "image/별점_pu.png" style = "position:absolute; left: 89px; top: 22px;">
						<img src = "image/별점_pu.png" style = "position:absolute; left: 118px; top: 22px;">
						<img src = "image/별점_0.5.png" style = "position:absolute; left: 147px; top: 22px;">
					</div>
					<label style = "font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.68px;text-align: left;color: #00bfbf; position:absolute; left: 186px; top: 13px;">4.5</label>
					<img src = "image/엘리베이터.png" style = "width: 38px;height: 37px; position:absolute; left: 551px; top: 14px;">
					<img src = "image/주차.png" style = "width: 38px;height: 37px; position:absolute; left: 602px; top: 14px;">
				</div>
			</div> <!--end 신림종합사회복지관 다솜아동발달지원센터-->
		
		
			<div class = "center" style = "left: 40px; top: 753px;"><!--톡톡톡 언어심리발달센터 -->
				<div class = "name">
					<label style = "font-size:30px; font-weight: bold;color: #000000;position:  absolute; left: 31px; top: 25px;">톡톡톡 언어심리발달센터</label>
					<label style = "font-size:24px; font-weight: normal;color: #999999;position:  absolute; left: 31px; top: 71px;">서울 관악구 난곡로 110</label>
					<img src = "image/즐겨찾기.png" style = "width: 52px;height: 78px; position:  absolute; left: 591px;">
				</div>
				<div class = "treatment" style = "top: 118px;" >
					<span style = "position:absolute; left: 33px; top: 24px;">언어</span>
					<span style = "position:absolute; left: 105px; top: 24px;color:#cccccc;">놀이</span>
					<span style = "position:absolute; left: 178px; top: 24px;">심리</span>
					<span style = "position:absolute; left: 251px; top: 24px;color:#cccccc;">학습</span>
					<span style = "position:absolute; left: 325px; top: 24px;">인지</span>
					<span style = "position:absolute; left: 398px; top: 24px;">그룹</span>
					<span style = "position:absolute; left: 472px; top: 24px;color:#cccccc;">감각통합</span>
					<span style = "position:absolute; left: 584px; top: 24px;color:#cccccc;">사회성</span>
					<span style = "position:absolute; left: 33px; top: 77px;color:">발달재활서비스</span>
					<span style = "position:absolute; left: 200px; top: 77px;color:">지역사회서비스</span>
					<span style = "position:absolute; left: 385px; top: 77px;color:">교육청지원</span>
				</div>
				<div class = "rate" style = "top: 242px;">
					<div>
						<img src = "image/별점_pu.png" style = "position:absolute; left: 34px; top: 22px;" >
						<img src = "image/별점_pu.png" style = "position:absolute; left: 60px; top: 22px;">
						<img src = "image/별점_pu.png" style = "position:absolute; left: 89px; top: 22px;">
						<img src = "image/별점.png" style = "position:absolute; left: 118px; top: 22px;">
						<img src = "image/별점.png" style = "position:absolute; left: 147px; top: 22px;">
					</div>
					<label style = "font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.68px;text-align: left;color: #00bfbf; position:absolute; left: 186px; top: 13px;">3.0</label>
					<img src = "image/엘리베이터.png" style = "width: 38px;height: 37px; position:absolute; left: 551px; top: 14px;">
					<img src = "image/주차.png" style = "width: 38px;height: 37px; position:absolute; left: 602px; top: 14px;">
				</div>
			</div><!--end 톡톡톡 언어심리발달센터-->
		</div> <!--end result-->
	</div>
	<div id = "footer">
		<img src = "image/로고.png" width = "317px" height = "98px" style = "position: absolute; left: 38px; top: 271px;">
		<img src = "image/copy.png" width = "446px" height = "29px" style = "position: absolute; left: 49px; top: 380px;">
		<a href = "#top"><img src = "image/up.png" width = "80px" height = "80px" style = "position: absolute; left: 649px; top: 387px;"></a>
		<span style = "width: 242px;height: 26px;font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: -1.68px;text-align: left;color: #000000; position: absolute; left: 39px; top: 427px;">이메일무단수집 거부</span>
		<span style = "font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: -1.68px;text-align: left;color: #000000; position: absolute; left: 323px; top: 424px;">개인정보처리방침</span>
	</div>
</body>
</html>
