<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title>아동등록</title>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script type="text/javascript">
		// 주소
		function execPostCode() {
			new daum.Postcode({
				oncomplete: function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 도로명 조합형 주소 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if(data.buildingName !== '' && data.apartment === 'Y'){
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if(extraRoadAddr !== ''){
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}
					// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
					if(fullRoadAddr !== ''){
						fullRoadAddr += extraRoadAddr;
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.


					//$("[name=zipcode]").val(data.zonecode);
					//$("[name=firstAddr]").val(fullRoadAddr);

					document.getElementById('zipcode').value = data.zonecode; //5자리 새우편번호 사용
					document.getElementById('firstAddr').value = fullRoadAddr;
					//document.getElementById('secondAddr').value = data.jibunAddress;
				}
			}).open();
		}

	</script>
	<style>
		/*a태그 밑줄 삭제*/
		a {
			text-decoration: none;
			color: #000000;
		}
		#area {width: 751px; height: 2627px;}
		#top { width: 751px; height: 140px; background-color: #ffffff;display: table;}
		#img1 {width: 254px;height: 79px;position: absolute; left: 27px; top: 30px;}
		#menu {width: 54px; height: 44px; position: absolute; left: 676px; top: 47px;}
		#main {width: 751px; height : 2127px; background-color: #f4f4f4;}

		#titlediv{width: 751px; height: 60px; position: absolute; text-align: center; margin-top: 71px;}
		#titlediv>label{font-family: 'Noto Sans CJK KR'; font-size: 50px; font-weight: bold; font-stretch: normal; font-style: normal; margin-left: 40px; display: inline-block;}
		#essential{width: 751px; height: 60px; position: absolute; text-align: right; margin-top: 148px;}
		#essential>label{font-family: 'Noto Sans CJK KR';font-size: 20px; font-weight: 500; font-stretch: normal; font-style: normal; color: rgba(0, 0, 0, 0.8); margin-right:39px;}
		#essential>label>font{font-weight: 900; color: rgba(7, 120, 255, 0.8);}

		#box1div{width: 751px; height: 880px; position: absolute; text-align: center; margin-top: 194px;}
		#namebox{width: 670px; height: 197px; border: solid 1px rgba(0, 0, 0, 0.2); background-color: #e6e6e6; display: inline-block; text-align: left;}
		#namebox>select{width: 145px;height:33px;border-style : none; background: url('image/선택화살표.png') no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none; padding-left: 6px; opacity: 0.6;font-family: 'Noto Sans CJK KR';font-size: 23.5px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.6); float: left; margin-top: 25px; margin-left:30px;}
		#namebox>select::-ms-expand {display: none;}
		#namebox>hr{width: 145px; height: 2px; background-color: #b3b3b3; float: left; border:none; margin-top: 65px; margin-left:-137px;}
		#name{width: 610px; height: 70px; border: solid 1px rgba(0, 0, 0, 0.2); background-color: #ffffff;margin-left: 30px; margin-top: 97px;}
		#nleft{width: 150px;height: 55px;background-color: #e6e6e6;float: left;text-align: center;padding-top: 15px;}
		#nleft>label{font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.6);}
		#nleft>label>font{color: rgba(7, 120, 255, 0.8);}
		#name>input{width: 420px;height: 65px;float: left; border:none;  padding-left:30px; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.5);}
		#genderstate{width: 672px; height: 222px; border-bottom:solid 2px #dcdcdc; background-color: #ffffff; display: inline-block; text-align: center; margin-top: -4px;}
		#genderdiv{width: 672px; height: 80px;text-align: left; display: inline-block;padding-top:20px;}
		#genderdiv>label{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8);margin-left:32px; float: left;}
		#genderdiv>label>font{color: rgba(7, 120, 255, 0.8);}
		#gender{width: 484px; height: 70px; border-radius: 10px; border: solid 1px #dcdcdc; background-color: #ffffff; float: left; margin-left: 50px;}
		#gender>input{display: none;}
		#gender>input + label{display: inline-block; cursor: pointer; width: 24px; height: 25px; background: url("image/radio_off.png") no-repeat; margin-left: 30px;margin-right: 6px; margin-top:20px;}
		#gender>input:checked + label{background: url("image/radio_on.png") no-repeat;}
		.glabel{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8);margin-right: 120px;}

		#statediv{width: 672px; height: 80px;text-align: left; display: inline-block;padding-top:20px;}
		#statediv>label{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8);margin-left:32px; float: left;}
		#statediv>label>font{color: rgba(7, 120, 255, 0.8);}
		#state{width: 484px; height: 70px;float: left; margin-left: 50px;}
		#state>input{display: none;}
		#state>input + label{display: inline-block; cursor: pointer; width: 148px; height: 53px; border-radius: 10px; box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.45); background-color: #ffffff; margin-left: 8px; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: center;color: rgba(0, 0, 0, 0.5); padding-top: 13px;}
		#state>input:checked + label{border: solid 2px #0778ff; background-color: #0778ff; color: #ffffff;}


		#birpho{width: 672px; height: 460px; border-bottom:solid 2px #dcdcdc; background-color: #ffffff; display: inline-block; text-align: center;}
		#birthdiv{width: 672px; height: 150px;text-align: left; display: inline-block;padding-top:30px;}
		#birthdiv>label{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8);margin-left:32px; float: left;}
		#birthdiv>label>font{color: rgba(7, 120, 255, 0.8);}
		#birth{width: 608px; height: 50px; border-radius: 10px; border: solid 1px #dcdcdc; background-color: #ffffff; float: left; margin-left: 32px; margin-top: 20px; padding-top:20px;}
		#birth>select{width: 120px;height:33px;border-style : none; background: url('image/선택화살표.png') no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none; padding-left: 6px; opacity: 0.6;font-family: 'Noto Sans CJK KR';font-size: 23.5px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.6); float: left; margin-top: -5px; margin-left:30px;}
		#birth>select::-ms-expand {display: none;}
		#birth>hr{width: 110px; height: 2px; background-color: #b3b3b3; float: left; border:none; margin-top: 35px; margin-left:-115px;}
		#birth>label{opacity: 0.8;font-family: 'Noto Sans CJK KR';font-size: 23.5px;font-weight: bold;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.6); float: left; margin-left: 5px;}
		#phonediv{width: 672px; height: 150px;text-align: left; display: inline-block;padding-top:30px;}
		#phonediv>label{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8);margin-left:32px; float: left;}
		#phonediv>label>font{color: rgba(7, 120, 255, 0.8);}
		#phone{width: 608px; height: 70px; border-radius: 10px; border: solid 1px #dcdcdc; background-color: #ffffff; float: left; margin-left: 32px; margin-top: 20px;}
		#rela{width: 150px; height: 70px; float: left; text-align: center;}
		#rela>select{width: 120px;height:33px;border-style : none; background: url('image/선택화살표.png') no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none; padding-left: 6px; opacity: 0.6;font-family: 'Noto Sans CJK KR';font-size: 23.5px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.6); float: left; margin-top: 10px; margin-left:30px;}
		#rela>select::-ms-expand {display: none;}
		#rela>hr{width: 115px; height: 2px; background-color: #b3b3b3; float: left; border:none; margin-top: 53px; margin-left:-118px;}
		#phone>input{width: 370px; height: 65px; border: none; padding-left:30px;font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.5); float: left;}
		#phoneplus{width: 672px; height: 70px;text-align: center; display: inline-block;}
		#phoneplus>button{width: 599px; height: 70px; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(7, 120, 255, 0.45); border: solid 3px #0778ff; background-color: #ffffff; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: center;color: #0778ff; display: inline-block;}


		#box2div{width: 751px; height: 630px; position: absolute; text-align: center; margin-top: 1100px;}
		#admediv{width: 670px; height: 630px; box-shadow: 0 0 10px 0 rgba(115, 155, 210, 0.45); background-color: #ffffff; display: inline-block; text-align: center;}
		#addressdiv{width: 672px; height: 300px;text-align: left; display: inline-block; margin-top: 30px;}
		#addressdiv>div{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8);margin-left:32px;}
		#addressdiv>input{height: 71px; border-radius: 10px; border: solid 1px rgba(0, 0, 0, 0.2); background-color: #ffffff; margin-top: 15px;float: left; margin-left: 33px; padding-left:15px; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 300;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.4);}
		#addressdiv>button{width: 173px; height: 71px; border-radius: 10px; box-shadow: 0 0 8px 0 rgba(57, 56, 58, 0.45); border: solid 3px #0778ff; background-color: #ffffff; margin-left: 17px; margin-top: 15px; font-family: 'Noto Sans CJK KR';font-size: 26px;font-weight: bold;font-stretch: normal;font-style: normal;text-align: center;color: #0778ff;}

		#memodiv{width: 672px; height: 300px;text-align: left; display: inline-block; margin-top: 30px;}
		#memodiv>div{opacity: 0.8; font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.8); margin-left:32px;}
		#memodiv>textarea{width: 578px; height: 181px; border-radius: 10px; border: solid 1px rgba(0, 0, 0, 0.2); background-color: #ffffff; resize: none; margin-left: 33px;margin-top: 10px; padding-left: 30px; padding-top:20px; font-family: 'Noto Sans CJK KR';font-size: 24.5px;font-weight: 500;font-stretch: normal;font-style: normal;text-align: left;color: rgba(0, 0, 0, 0.5);}

		#btndiv{width :751px; height: 160px; position: absolute; text-align: center; margin-top: 1809px;}
		#register{width: 668px; height: 70px; border-radius: 10px; border:none; outline:none; box-shadow: 0 0 5px 0 rgba(115, 155, 210, 0.45); background-color: #0778ff; display: inline-block; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;letter-spacing: -1.44px;text-align: left;color:#ffffff; text-align: center;}
		#cancel{width: 668px; height: 70px; border-radius: 10px; border:none; outline:none; box-shadow: 0 0 5px 0 rgba(115, 155, 210, 0.45);background-color: #3c3c3c; display: inline-block; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;letter-spacing: -1.44px;text-align: left;color:#ffffff; margin-top:20px;text-align: center;}

		#footer{width : 751px;height: 500px;position: absolute; top : 2127px;  background-color: #f4f4f4;}


	</style>
</head>

<body id="area">
<div id = "top"><!--top 화면-->
	<a href = "/"><img src = "image/로고.png" id = "img1"></a>
	<a href = "/menu"><img src = "image/icn_menu.png" id = "menu"></a>
</div>
<form th:action="@{/therapist_calendar_child_registration}" method="post">

	<div id = "main">
		<div id=  "titlediv"><label>아동등록</label></div>
		<div id = "essential"><label><font>*</font> 필수 입력 값</label></div>

		<div id = "box1div">
			<div id = "namebox">
				<select name = "centername">
					<option value = "">센터명</option>
				</select>
				<hr>

				<div id = "name">
					<div id = "nleft"><label>아동이름<font>*</font></label></div>
					<input name="name" type = "text" placeholder="홍길동">
				</div>
			</div> <!--end namebox-->

			<div id = "genderstate">
				<div id = "genderdiv">
					<label>성별<font>*</font></label>
					<div id = "gender">
						<input type = "radio" id = "man" name = "gender" value="남">
						<label for = "man"></label>
						<label class = "glabel">남성</label>

						<input type = "radio" id = "woman" name = "gender" value="여">
						<label for = "woman"></label>
						<label class = "glabel">여성</label>
					</div>
				</div>

				<div id = "statediv">
					<label>상태<font>*</font></label>
					<div id = "state">
						<input type = "radio" id = "1" name = "state" value="대기">
						<label for = "1">대기</label>

						<input type = "radio" id = "2" name = "state" value="진행">
						<label for = "2">진행</label>

						<input type = "radio" id = "3" name = "state" value="종료">
						<label for = "3">종료</label>
					</div>
				</div>
			</div> <!--genderstate-->

			<div id = "birpho">
				<div id = "birthdiv">
					<label>생년월일<font>*</font></label>
					<div id = "birth">
						<select name = "year">
							<option value = "">2020</option>
						</select>
						<hr>
						<label>년</label>

						<select name = "month">
							<option value = "">2020</option>
						</select>
						<hr>
						<label>월</label>

						<select name = "day">
							<option value = "">2020</option>
						</select>
						<hr>
						<label>일</label>
					</div>
				</div>

				<div id = "phonediv">
					<label>전화번호<font>*</font></label>
					<div id = "phone">
						<div id = "rela">
							<select name = "relation">
								<option value = "">관계</option>
							</select>
							<hr>
						</div>
						<input name="phoneNumber" type = "text" placeholder="전화 번호를 입력해주세요.">
					</div>
				</div>
				<div id = "phoneplus"><button>전화번호 추가</button></div>
			</div> <!--end birpho-->
		</div> <!--end box1div -->

		<div id = "box2div">
			<div id = "admediv">
				<div id = "addressdiv">
					<div>주소</div>
					<input name="zipcode" id="zipcode" type = "text" style = "width: 398px;" placeholder="우편번호">
					<button type="button" onclick="execPostCode()">우편번호</button>
					<input name="firstAddr" id="firstAddr" type = "text" style = "width: 595px;" placeholder="기본주소">
					<input name="secondAddr" id="secondAddr" type = "text" style = "width: 595px;" placeholder="상세주소">
				</div>

				<div id = "memodiv">
					<div>메모</div>
					<textarea name="memo" placeholder="내용을 입력하세요."></textarea>
				</div>
			</div>
		</div> <!--end box2div-->

		<div id = "btndiv">
			<button type="submits" id = "register">등록</button>
			<button id = "cancel">취소</button>
		</div>
	</div> <!--end main-->

	<div id = "footer">
		<img src = "image/로고.png" width = "317px" height = "98px" style = "position: absolute; left: 38px; top: 271px;">
		<img src = "image/copy.png" width = "446px" height = "29px" style = "position: absolute; left: 49px; top: 380px;">
		<a href = "#top"><img src = "image/up.png" width = "80px" height = "80px" style = "position: absolute; left: 649px; top: 387px;"></a>
		<span style = "width: 242px;height: 26px;font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: -1.68px;text-align: left;color: #000000; position: absolute; left: 39px; top: 427px;">이메일무단수집 거부</span>
		<span style = "font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: -1.68px;text-align: left;color: #000000; position: absolute; left: 323px; top: 424px;">개인정보처리방침</span>
	</div>
</body>
</html>
