<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>아동등록</title>
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script type="text/javascript">
		// 주소
		function execPostCode() {
			new daum.Postcode({
				oncomplete: function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 도로명 조합형 주소 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if(data.buildingName !== '' && data.apartment === 'Y'){
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if(extraRoadAddr !== ''){
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}
					// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
					if(fullRoadAddr !== ''){
						fullRoadAddr += extraRoadAddr;
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.


					//$("[name=zipcode]").val(data.zonecode);
					//$("[name=firstAddr]").val(fullRoadAddr);

					document.getElementById('zipcode').value = data.zonecode; //5자리 새우편번호 사용
                    document.getElementById('firstAddr').value = fullRoadAddr;
                    //document.getElementById('secondAddr').value = data.jibunAddress;
				}
			}).open();
		}

	</script>
<style>
	#area { width: 751px; height: 2011px;}
	#top { width: 751px; height: 140px; background-color: #ffffff;display:table;}
	#img1 {width: 254px;height: 79px;position: absolute; left: 27px; top: 30px;}	
	#menu {width: 54px; height: 44px; position: absolute; left: 676px; top: 47px;}
	#main {width: 751px; height : 1681px; background-color: #f4f4f4;}
	#main>#title{font-family:'Noto Sans CJK KR';font-size: 45px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 0.76;letter-spacing: -2.7px;text-align: left;color: #000000; position: absolute; left: 297px; top: 200px;}
	#main>span{font-family:'Noto Sans CJK KR';font-size: 20px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.53;letter-spacing: -1px;text-align: left;color: rgba(0, 0, 0, 0.8);position: absolute; left: 604px; top:258px;}
	#main>#box_1{width: 670px;height: 814px;box-shadow: 0 0 10px 0 rgba(115, 155, 210, 0.45);background-color: #ffffff;position: absolute; left: 40px; top:295px;}
	#main>#box_1>#select_box{width: 668px;height: 160px;border: solid 1px rgba(0, 0, 0, 0.2);background-color: #e6e6e6;}
	select{width: 130px;border-style : none;background: url('image/선택화살표.png') no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;position: absolute; left:32px;padding-left: 6px;}
	select::-ms-expand {display: none;}
	#select_font{font-family:'Noto Sans CJK KR';font-size: 23.5px;font-weight: 500; font-stretch: normal;font-style: normal;line-height: 3.15;letter-spacing: -1.41px;text-align: left;color: rgba(0, 0, 0, 0.6);}
	#box_1>span{font-family:'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.68px;text-align: left;position: absolute; left: 30px; color: rgba(0, 0, 0, 0.8);  opacity: 0.8;}
	#gender_box{width: 484px;height: 70px;border-radius: 10px;border: solid 1px #dcdcdc;background-color: #ffffff;position: absolute; left: 155px; top:185px;}
	#gender_box>input{widows: 24px; height: 24px;position: absolute;top:20px;}
	#gender_box>label{font-family:'Noto Sans CJK KR';opacity: 0.8;font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.44px;text-align: left;color: rgba(0, 0, 0, 0.8);position: absolute;top:17px;}
	.state{display: none;}
	.state + label{display: table; width: 155px;height: 50px;border-radius: 10px; border: solid 2px #dcdcdc;box-shadow: 0 0 5px 0 rgba(77, 77, 77, 0.45);background-color: #ffffff; opacity: 0.5;font-family: "Noto Sans CJK KR";font-size: 28px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1;letter-spacing: -1.5px;text-align: center; color: rgba(0, 0, 0, 0.5);padding-top:21px;}
	.state:checked + label{opacity: 1; background-color: #0778ff; color: #ffffff; border: solid 2px #0778ff;}
	.in_box{width: 608px;height: 70px;border-radius: 10px;border: solid 1px rgba(0, 0, 0, 0.2);background-color: #ffffff; position: absolute; left: 30px;}
	.in_box>select{width: 120px;border-style : none;background: url('image/선택화살표.png') no-repeat 95% 50%;-webkit-appearance: none;-moz-appearance: none;appearance: none;position: absolute;top:-5px;}
	.in_box>select::-ms-expand {display: none;}
	.in_box>.birth{font-family:'Noto Sans CJK KR';font-size: 23.5px;font-weight: 500; font-stretch: normal;font-style: normal;line-height: 3.15;letter-spacing: -1.41px;text-align: left;color: rgba(0, 0, 0, 0.6);}
	.in_box>span{opacity: 0.8;font-family:'Noto Sans CJK KR';font-size: 23.5px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 3.13;letter-spacing: -1.41px;text-align: left;color: rgba(0, 0, 0, 0.6);position: absolute;top:-5px;}
	.in_box>hr{width: 116px;height: 2px;background-color: rgba(0, 0, 0, 0.6);;border:none; position: absolute;top:45px;}
	.in_box>.relation{font-family:'Noto Sans CJK KR';font-size: 23.5px;font-weight: 500; font-stretch: normal;font-style: normal;line-height: 3.15;letter-spacing: -1.41px;text-align: left;color: rgba(0, 0, 0, 0.6);}
	.in_box>#phone_box{width: 340px; height: 45px; border:none;position: absolute; left: 200px; top:10px;opacity: 0.5;font-family:'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.44px;text-align: left;color: rgba(0, 0, 0, 0.5);}
	#box_1>button{width: 611px;height: 70px;border-radius: 10px;box-shadow: 0 0 10px 0 rgba(7, 120, 255, 0.45);border: solid 3px #0778ff;background-color: #ffffff;position: absolute; left: 30px; top:710px;font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.44px;text-align: center;color: #0778ff; outline: none;}
	#main>#box_2{width: 670px;height: 520px;box-shadow: 0 0 10px 0 rgba(115, 155, 210, 0.45);background-color: #ffffff; position: absolute; left: 40px; top:1120px;}
	#main>#box_2>span{font-family:'Noto Sans CJK KR';font-size: 28px;font-weight: 900;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.68px;text-align: left;position: absolute; left: 30px; color: rgba(0, 0, 0, 0.8);  opacity: 0.8;}
	#main>#box_2>.address_box{height: 70px;border-radius: 10px;border: solid 1px rgba(0, 0, 0, 0.2);background-color: #ffffff;position: absolute; left: 30px; padding-left: 20px;font-family:'Noto Sans CJK KR';font-size: 24px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.44px;text-align: left; color: rgba(0, 0, 0, 0.4);}
	#main>#box_2>#address_btn{width: 173px;height: 71px; border-radius: 10px;box-shadow: 0 0 8px 0 rgba(57, 56, 58, 0.45);border: solid 3px #0778ff;background-color: #ffffff;position: absolute; left: 470px; top: 55px;font-family:'Noto Sans CJK KR';font-size: 26px;font-weight: bold;font-stretch: normal;font-style: normal; line-height: normal;letter-spacing: -1.56px; text-align: center;color: #0778ff; outline: none;}
	#main>#box_2>textarea{width: 608px;height: 151px;border-radius: 10px;border: solid 1px rgba(0, 0, 0, 0.2);background-color: #ffffff;position: absolute; left: 30px; top:340px; resize: none; overflow-y: auto;}
	
	#main>button{width: 670px;height: 70px;border-radius: 10px; border:none; font-family:'Noto Sans CJK KR';font-size: 24px;font-weight: bold;font-stretch: normal; font-style: normal;line-height: normal;letter-spacing: -1.44px;text-align: center;color: #ffffff;position: absolute; left: 40px; outline: none;}
	
	#footer{
    width : 751px;
    height: 270px;
    background-color: #f2f2f2;
    position: absolute;
	top : 1771px;
	}

</style>
</head>

<body id="area">
	<div id = "footer">
		<img src = "image/로고.png" width = "317px" height = "98px" style = "position: absolute; left: 38px; top: 61px;">
		<img src = "image/copy.png" width = "446px" height = "29px" style = "position: absolute; left: 49px; top: 170px;">
		<a href = "#top"><img src = "image/up.png" width = "80px" height = "80px" style = "position: absolute; left: 649px; top: 177px;"></a>
		<span style = "width: 242px;height: 26px;font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: -1.68px;text-align: left;color: #000000; position: absolute; left: 39px; top: 217px;">이메일무단수집 거부</span>
		<span style = "font-family: 'Noto Sans CJK KR';font-size: 28px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.07;letter-spacing: -1.68px;text-align: left;color: #000000; position: absolute; left: 323px; top: 214px;">개인정보처리방침</span>
	</div>
	<div id = "top"><!--top 화면-->
		<a href = "/"><img src = "image/로고.png" id = "img1"></a>
		<a href = "/menu"><img src = "image/icn_menu.png" id = "menu"></a>
	</div>
	<form th:action="@{/therapist_calendar_child_registration}" method="post">

	<div id = "main">
		<label id = "title">아동 등록</label>
		<span><font style = "color:rgba(7, 120, 255, 0.8);">*</font> 필수 입력 값</span>
		
		<div id = "box_1">
			<div id = "select_box">
				<select id = "select_font">
					<option value = "">센터명</option>
				</select>
				<hr style = "width: 140px; height: 2px; background-color:#b3b3b3; border: none; position: absolute; left: 32px; top:50px;">
				<div style = "width: 151px;height: 63px;border: solid 1px rgba(0, 0, 0, 0.2);background-color: #e6e6e6; position: absolute; left: 30px; top:75px; display: table;"><label style = "font-family:'Noto Sans CJK KR';font-size: 22px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.32px;color:rgba(0, 0, 0, 0.8);;display:table-cell; text-align:center; vertical-align:middle;">아동이름<font style = "color: #00bfbf">*</font></label></div>
				
				<input name="name" id="name" type = "text" style = "width: 450px; height: 59px;position: absolute; left: 178px; top:75px; padding-left: 9px; font-family: 'Noto Sans CJK KR';font-size: 22px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -1.32px;text-align: left; color: rgba(0, 0, 0, 0.5);" placeholder = "홍길동">
			</div> <!-- end select_box-->
			
			<span style = "top:198px;">성별 <font style = "color: rgba(7, 120, 255, 0.8);">*</font></span>
			<div id = "gender_box">
				<input type = "radio" id = "man" name = "gender" value="남자" style = "left:37px;"> <label for = "man" style = "left:72px;">남성</label>
				<input type = "radio" id = "woman" name = "gender" value="여자" style = "left:265px;"> <label for = "man" style = "left:299px;">여성</label>
			</div><!--end gender_box-->
		
			<span style = "top:304px;">상태 <font style = "color: rgba(7, 120, 255, 0.8);">*</font></span>
			<input value="대기" type = "radio" id = "standby" name = "state" class = "state"><label for = "standby"  style = "position: absolute; left: 155px; top:294px;">대기</label>
			<input value="진행" type = "radio" id = "progress" name = "state" class = "state"><label for = "progress" style = "position: absolute; left: 319px; top:294px;">진행</label>
			<input value="종결" type = "radio" id = "end" name = "state" class = "state"><label for = "end" style = "position: absolute; left: 484px; top:294px;">종결</label>
			
			<hr style = "width: 670px; height: 2px; background-color: #dcdcdc; border: none; position: absolute; top:394px;">
			
			<span style = "top:420px;">생년월일 <font style = "color: rgba(7, 120, 255, 0.8);">*</font></span>
			<div class = "in_box" style = "top:470px;">
				<select name="year" id="year" class = "birth" style = "left:40px;">
					<option value = "2020">2020</option>
				</select>
				<span style = "left:344px;">년</span>
				<hr style = "left: 40px;">
				<select name="month" id="month"  class = "birth" style = "left:221px;">
					<option value = "09">09</option>
				</select>
				<span style = "left:165px;">월</span>
				<hr style = "left: 220px;">
				<select name="day" id="day" class = "birth" style = "left:414px;">
					<option value = "04">04</option>
				</select>
				<span style = "left:538px;">일</span>
				<hr style = "left: 413px;">
			</div>
			
			<span style = "top:560px;">전화번호 <font style = "color: rgba(7, 120, 255, 0.8);">*</font></span>
			<div class = "in_box" style = "top:606px;">
				<select class = "relation" style = "left:40px;">
					<option value = "">관계</option>
				</select>
				<hr style = "left: 40px;">
				<input name="phoneNumber" type = "text" id = "phone_box" placeholder="전화 번호를 입력해주세요.">
			</div>
			<button>전화번호 추가</button>
		</div><!--end box_1-->
		
		<div id = "box_2">
			<span style = "top: 10px;">주소</span>
			<input readonly name="zipcode" id="zipcode" type = "text" class = "address_box" style = "width: 408px;top:55px;" placeholder="우편번호">
			<input readonly name="firstAddr" id="firstAddr" type = "text" class = "address_box" style = "width: 590px;top:135px;" placeholder="기본주소">
			<input name="secondAddr" id="secondAddr" type = "text" class = "address_box" style = "width: 590px;top:215px;" placeholder="상세주소">
			<button type="button" onclick="execPostCode()" name="address_btn" id = "address_btn">우편번호</button>
			
			<span style = "top: 295px;">메모</span>
			<textarea name="memo"></textarea>
		</div>
		
		<button type="submit" style = "box-shadow: 0 0 5px 0 rgba(115, 155, 210, 0.45);background-color: #0778ff; top:1640px;">등록</button>
		<button style = "box-shadow: 0 0 5px 0 rgba(115, 155, 210, 0.45);background-color: #3c3c3c; top:1725px;">취소</button>
	</div> <!--end main-->
	</form>
</body>		
</html>
