<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>캘린더</title>
	<style>
		/*a태그 밑줄 삭제*/
		a {
			text-decoration: none
		}

		#main {width: 670px; height: 800px; background-color: #ffffff;}

		#today{width: 200px; height: 30px; margin-left: 31px; margin-top: 30px; text-align: left;}
		#today>label{font-family: 'Noto Sans CJK KR'; font-size: 32px; font-weight: bold; font-stretch: normal; font-style: normal; color: #2f2f2f;}
		#thisplan{width: 140px; height: 30px; margin-left: 31px; margin-top: 20px; text-align: left; float: left;}
		#thisplan>label{font-family: 'Noto Sans CJK KR'; font-size: 32px; font-weight: bold; font-stretch: normal; font-style: normal; color: #2f2f2f;}
		#people{width: 120px; height: 40px; margin-top: 20px; box-shadow: 0 0 10px 0 rgba(0, 204, 204, 0.45); background-color: #00cccc; text-align: center; float: left; padding-bottom: 8px; font-family: 'Noto Sans CJK KR'; font-size: 32px; font-weight: bold; font-stretch: normal; font-style: normal; color: #ffffff;}
		#people>label{font-family: 'Noto Sans CJK KR'; font-size: 32px; font-weight: bold; font-stretch: normal; font-style: normal; color: #ffffff;}
		hr{width: 670px; height: 2px; background-color: #dcdcdc; display: inline-block; border: none; margin-top: 30px;}

		.treatline{width: 300px; height: 30px; margin-left: 35px; margin-top: 8px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: normal; font-stretch: normal; font-style: normal; color: #4e4e4e; text-align: left;}
		.treatline>.tname{width: 200px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; color: #2f2f2f;float: left;}
		.treatline>font{font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: normal; font-stretch: normal; font-style: normal; color: #4e4e4e;}
		#memo{width: 600px; height: 50px; display: inline-block; text-align: left; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: 500; font-stretch: normal; font-style: normal; color: rgba(60, 60, 60, 0.8); margin-left: 35px; margin-top: 5px;}

		.abline{width: 600px; height: 90px; background-color: #ffeeeb; border-left: solid 4px #ff5634; margin-left: 35px; margin-top: 30px;}
		.abline>.abtime{width: 80px; height: 25px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; color: rgba(255, 86, 52, 0.97); margin-left: 23px; margin-top: 10px; float: left;}
		.abline>.abstate{width: 100px; height: 35px; font-family: 'Noto Sans CJK KR'; font-size: 30px; font-weight: bold; font-stretch: normal; font-style: normal; color: #ff5634; margin-left: 23px; margin-top: 8px; float: left;}
		.atline{width: 600px; height: 90px; background-color: #f1f7fc; border-left: solid 4px #2f2f2f; margin-left: 35px; margin-top: 30px;}
		.atline>.attime{width: 80px; height: 25px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; color: rgba(47 47 47, 0.97); margin-left: 23px; margin-top: 10px; float: left;}
		.atline>.atstate{width: 100px; height: 35px; font-family: 'Noto Sans CJK KR'; font-size: 30px; font-weight: bold; font-stretch: normal; font-style: normal; color: #2f2f2f; margin-left: 23px; margin-top: 8px; float: left;}
		.abtreatname{width: 100px; height: 35px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal;margin-left: 150px; margin-top: 8px; float: left;}
		.coachname{width: 100px; height: 35px; font-family: 'Noto Sans CJK KR'; font-size: 24px; font-weight: normal; font-stretch: normal; font-style: normal;margin-left: 10px; margin-top: 8px; float: left;}
		.centername{width: 300px; height: 35px; font-family: 'Noto Sans CJK KR'; font-size: 20px; font-weight: 300; font-stretch: normal; font-style: normal;margin-left: 128px; margin-top: 10px; float: left;}


		#btndiv{width :670px; height: 160px; position: absolute; text-align: center; margin-top: 100px;}
		#btndiv>button{width: 608px; height: 70px; border-radius: 10px; border:none; outline:none; bbox-shadow: 0 0 5px 0 rgba(115, 155, 210, 0.45); background-color: #3c3c3c;display: inline-block; font-family: 'Noto Sans CJK KR';font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal; color:#ffffff; text-align: center; display: inline-block;}
	</style>
</head>

<body>
<div id = "main">
	<div id = "today"><label>2020.09.18</label></div>
	<div id = "thisplan"><label>코칭일정</label></div>
	<div id = "people"><label>05</label>회</div>
	<hr>

	<div class = "treatline"><div class = "tname">언어치료</div> <font>1</font>회</div>
	<div class = "treatline"><div class = "tname">감각통합치료</div> <font>1</font>회</div>
	<div id = "memo">메모내용이 보여집니다. 메모내용이 보여집니다. 메모내용이 보여집니다. 메모내용메모내용이 보여집니다.</div>
	<hr>

	<div class = "abline">
		<div class = "abtime">09:00</div>
		<div class = "abstate">결석</div>
		<div class = "abtreatname">코칭분야</div>
		<div class = "coachname">치료사명</div>
		<div class = "centername">기관명</div>

	</div>
	<div class = "atline">
		<div class = "attime">10:00</div>
		<div class = "atstate">출석</div>
		<div class = "abtreatname">코칭분야</div>
		<div class = "coachname">치료사명</div>
		<div class = "centername">기관명</div>
	</div>

	<div id = "btndiv">
		<button onClick = "window.close()">닫기</button>
	</div>

</div> <!--end main-->
</body>
</html>
